<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.godrel.infrastructure.persistent.dao.IUserAwardRecordDao">

    <resultMap id="dataMap" type="cn.godrel.infrastructure.persistent.po.UserAwardRecord">
        <id column="id" property="id"/>

    </resultMap>

</mapper>
